.button_nav{
    color: white;
    background-color: RGB(128, 128, 0);
    border: 1px solid greenyellow;
    padding: 8px;
    border-radius: 8px;
    width: 60px;

    @media (min-width:926px) {
        color: white;
        background-color: RGB(128, 128, 0);
        border: 2px solid greenyellow;
        padding: 8px;
        border-radius: 15px;
        width: 90px;
    }

    @media (min-width:1060px) {
        color: white;
        background-color: RGB(128, 128, 0);
        border: 2px solid greenyellow;
        padding: 8px;
        border-radius: 15px;
        width: 110px;
    }
}

.button_nav2{
    color: white;
    background-color: RGB(128, 128, 0);
    border: 1px solid greenyellow;
    padding: 8px;
    border-radius: 8px;

    @media (min-width:926px) {
        color: white;
        background-color: RGB(128, 128, 0);
        border: 2px solid greenyellow;
        padding: 8px;
        border-radius: 15px;
        width: 90px;
    }

    @media (min-width:1060px) {
        color: white;
        background-color: RGB(128, 128, 0);
        border: 2px solid greenyellow;
        padding: 8px;
        border-radius: 15px;
        width: 110px;
    }
}

