.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: RGB(144, 196, 144);
    padding: 15px;
    gap: 10px;
    
    @media (min-width: 926px) {
        display: flex;
        align-items: center;
        text-align: center;
        background-color: RGB(144, 196, 144);
        padding: 15px;
        gap: 60px;
    }

    @media (min-width: 1060px) {
        display: flex;
        align-items: center;
        text-align: center;
        background-color: RGB(144, 196, 144);
        padding: 15px;
        gap: 70px;
    }
}

.nav__item{
    list-style: none;
    text-decoration: none;
    color: white;

    @media (min-width:926px) {
        list-style: none;
        text-decoration: none;
        color: white;
        font-size: 1.2em;
    }

    @media (min-width:1060px) {
        list-style: none;
        text-decoration: none;
        color: white;
        font-size: 1.4em;
    }
}

.nav__link{
    color: white;
    margin-right: 5px;
    text-decoration: none;
}
.nav__container{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 5px;
    margin-left: 18px;

    @media (min-width: 926px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 8em;
        gap: 20px;
    }
}


.nav__perfil{
    display: none;

    @media (min-width:926px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        gap: 18px;
    }
}

.nav__perfil__texto{
    color: white;
    font-size: 1.5em;
}